<ion-view view-title="AMIGOS E GRUPOS">
  <ion-nav-buttons side="right">
    <button ng-click="vm.openAddOptions();" class="button button-icon button-clear icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div ng-if="vm.grupos.length >0" class="item item-divider">
        Grupos
      </div>
      <a class="item item-avatar item-button-right" ng-repeat="grupo in vm.grupos" href="#">
        <img style="margin-top:-7px;" src="{{grupo.capa | defaultImage}}">
        <h2>{{grupo.nome}}</h2>
      </a>
      <div ng-if="vm.amigos.length >0" class="item item-divider">
        Amigos
      </div>
      <a ng-class="vm.userService.usuarioSelecionado = amigo" ui-sref="main.user({userId: amigo.id})" class="item item-avatar item-button-right" ng-repeat="amigo in vm.amigos" href="#">
        <img style="margin-top:-7px;" src="{{amigo.fotoPerfil | defaultImage}}">
        <h2>{{amigo.nome}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>