<ion-view view-title="ARENAS" class="cards-view">
  <ion-nav-buttons side="right">
    <button ng-click="actrl.mapView = !actrl.mapView" ng-class="actrl.mapView ? 'ion-ios-list-outline' : 'ion-map'" class="button button-icon button-clear icon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding-horizontal" ng-if="!actrl.mapView">
      <div class="card-2" ng-repeat="arena in actrl.arenas | orderBy:'distance'">
        <a ng-click="actrl.arenaService.arenaSelecionada = arena;" href="#/main/arenas/{{arena.id}}">
          <div class="list card">
            <div class="row card-outer">
              <div class="col col-50 card-image">
                <pre-img ratio="_1_2" helper-class="main-image">
                  <img ng-src="{{arena.fotoPerfil}}" spinner-on-load>
                </pre-img>
              </div>
              <div class="col card-content">
                <h2 class="card-title">{{arena.nome}}</h2>
                <div class="card-description-outer">
                  <p class="card-description"><b>Teste</b> Reviews</p>
                  <p class="card-description">{{arena.distance | number : 2}} km</p>
                  <p class="card-description">Teste</p>
                </div>
              </div>

            </div>
          </div>
        </a>
      </div>
      <br/><br/>
    </div>
    <ui-gmap-google-map ng-if="actrl.mapView" center='actrl.map.center' options='actrl.map.options' zoom='actrl.map.zoom'>
      <ui-gmap-window templateurl="'/templates/misc/arena-map-window.html'" templateParameter="actrl.arenaService.arenaSelecionada" show="actrl.map.window.show" coords="actrl.arenaService.arenaSelecionada" options="actrl.map.window.options" closeclick="actrl.map.window.closeClick()">
      </ui-gmap-window>
      <ui-gmap-markers events="actrl.map.markersEvents" models="actrl.arenas" icon="'icon'"  coords="'self'"'>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>