<ion-view view-title="BUSCAR JOGADORES" >
    <ion-content>
        <div class="list">
            <label class="item item-input" style="border: solid 1px #46687E">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar">
            </label>
            <a ui-sref="main.user({userId: usuario.$id})" ng-click="vm.modalAddAmigos.hide();" class="item item-avatar item-button-right"
                ng-if="!vm.checkAmizade(usuario);" ng-repeat="usuario in vm.usuarios" href="#">
                <img style="margin-top:-7px;" src="{{usuario.fotoPerfil | defaultImage}}">
                <h2>{{usuario.nome}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>