<ion-view hide-nav-bar="true" view-title="" id="criar-partida">
    <ion-slides options="swiperOptions" slider="swiper" ion-wizard>
        <ion-slide-page ion-wizard-step>
            <ion-content>
                <button ng-click="vm.goBack()" class="button button-positive button-full icon ion-android-arrow-back"></button>
                <button class="button button-positive button-full" ion-wizard-next>Próximo</button>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">None da partida</span>
                        <input ng-model="vm.novaPartida.nome" type="text" >
                    </label>
                </div>
            </ion-content>
        </ion-slide-page>
        <ion-slide-page ion-wizard-step>
            <ion-content>
                <button ion-wizard-previous class="button button-positive button-full icon ion-android-arrow-back"></button>
                <button class="button button-positive button-full" ion-wizard-next>Próximo</button>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Local da partida</span>
                        <input ng-model="vm.localSelecionado.endereco" ng-focus="vm.openLocalPicker();" ng-readonly="true" type="text" >
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Dia</span>
                        <input ng-model="vm.novaPartida.dia" ng-focus="vm.openDatePicker();" ng-readonly="true" type="text" >
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Horário de início</span>
                        <input ng-model="vm.novaPartida.hora" ng-focus="vm.openTimePicker();" ng-readonly="true" type="text" >
                    </label>
                </div>
            </ion-content>
        </ion-slide-page>
        <ion-slide-page ion-wizard-step>
            <ion-content>
                <button ion-wizard-previous  class="button button-positive button-full icon ion-android-arrow-back"></button>
                <button class="button button-positive button-full" ion-wizard-next>Próximo</button>
                <div class="list">
                    <div class="item" style="padding-right: 0;">
                        <ion-scroll zooming="false" direction="x">
                            <div style="display: block; position:relative;">
                                <div class="img" style="position:relative; display:inline-block; padding:5px;" ng-repeat="time in vm.times">
                                    <img style="width: 60px; height: 60px; border-radius: 50%;" src="{{time.escudo | defaultImage}}">
                                </div>
                                <div class="img" style="position:relative; display:inline-block; padding:5px;" ng-repeat="jogador in vm.jogadores">
                                    <img style="width: 60px; height: 60px; border-radius: 50%;" src="{{jogador.fotoPerfil | defaultImage}}">
                                </div>
                            </div>
                        </ion-scroll>
                    </div>
                    <div class="item item-divider">
                        Times
                    </div>
                    <div class="item item-avatar item-icon-right" ng-click="vm.toggleTime(time)" ng-repeat="time in vm.meusTimes" href="#">
                        <img style="margin-top:-7px;" src="{{time.escudo | defaultImage}}">
                        <h2>{{time.nome}}</h2>
                        <i ng-if="!vm.checkTime(time);" class="icon ion-ios-circle-outline"></i>
                        <i ng-if="vm.checkTime(time);" class="icon ion-ios-checkmark positive"></i>
                    </div>
                    <div class="item item-divider">
                        Amigos
                    </div>
                    <div class="item item-avatar item-icon-right" ng-click="vm.toggleJogador(amigo)" ng-repeat="amigo in vm.amigos" href="#">
                        <img style="margin-top:-7px;" src="{{amigo.fotoPerfil | defaultImage}}">
                        <h2>{{amigo.nome}}</h2>
                        <i ng-if="!vm.checkJogadorPartida(amigo);" class="icon ion-ios-circle-outline"></i>
                        <i ng-if="vm.checkJogadorPartida(amigo);" class="icon ion-ios-checkmark positive"></i>
                    </div>
                </div>
            </ion-content>
        </ion-slide-page>
        <ion-slide-page ion-wizard-step>
            <ion-content>
                <button ion-wizard-previous class="button button-positive button-full  icon ion-android-arrow-back"></button>
                <button class="button button-positive button-full" ion-wizard-next>Próximo</button>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mínimo e máximo de jogadores</span>
                        <br/>
                        <div class="row">
                            <div class="col-10" style="padding-top:3px">
                                {{vm.novaPartida.minJogadores}}
                            </div>
                            <div class="col-80" style="margin-left: -5px">
                                <rzslider rz-slider-model="vm.novaPartida.minJogadores" rz-slider-high="vm.novaPartida.maxJogadores" rz-slider-options="vm.numJogadoresRangeOptions"></rzslider>
                            </div>
                            <div class="col-10"  style="padding:3px 0 0 15px">
                                {{vm.novaPartida.maxJogadores}}
                            </div>
                        </div>
  	                </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quem pode jogar?
                        </div>
                        <select ng-model="vm.novaPartida.visibilidade">
                            <option value="1">Convidados</option>
                            <option value="2">Amigos</option>
                            <option value="3">Amigos de amigos</option>
                            <option value="4">Público</option>
                        </select>
                    </label>
                    <li class="item item-toggle">
                        Aprovar jogadores manualmente
                        <label class="toggle toggle-positive">
                            <input ng-model="vm.novaPartida.aprovacaoManual" type="checkbox">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </div>
                <div class="padding">
                    <button ng-click="vm.salvarJogo();" class="button button-block button-positive">Criar Partida</button>
                </div>
            </ion-content>
        </ion-slide-page>
    </ion-slides>

</ion-view>