<ion-view view-title="REI DA QUADRA">
  <ion-content scroll="false">
    <div class="list condensed-space no-padding" style="height: 100%; display:block;">
      <div class="item clear-bg" style="margin: 1px 0px; height: 33%; display:block; background-image: url('img/home-arenas.jpg'); background-size:     cover; background-repeat:   no-repeat;background-position: center center; ">
        <a ui-sref="main.arenas">
          <div style="padding:60px 16px; text-align:center; background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <h1 style="margin-bottom:0px">Encontrar Arenas</h1>
            <h2>Ache a arena ideal e reserve um horário</h2>
          </div>
        </a>
      </div>
      <div class="item clear-bg" style="margin: 1px 0px; height: 33%; display:block; background-image: url('img/home-jogos.jpg'); background-size:     cover; background-repeat:   no-repeat;background-position: center center; ">
        <a ui-sref="main.jogos">
          <div style="padding:60px 16px; text-align:center; background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <h1 style="margin-bottom:0px">Encontrar Jogos</h1>
            <h2>Busque por jogos próximos a voce</h2>
          </div>
        </a>
      </div>
      <div class="item clear-bg" style="margin: 1px 0px; height: 33%; display:block; background-image: url('img/home-meus-jogos.jpg'); background-size:     cover; background-repeat:   no-repeat;background-position: center center; ">
        <a ui-sref="main.desafios">
          <div style="padding:60px 16px; text-align:center; background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <h1 style="margin-bottom:0px">Encontrar times</h1>
            <h2>Desafie times da sua cidade</h2>
          </div>
        </a> 
      </div>
    </div>
  </ion-content>
</ion-view>