<ion-view view-title="ENCONTRE JOGOS" id="jogos-view">
  <!-- do you want padding? -->
  <ion-content>
    <ui-gmap-google-map center='vm.map.center' options='vm.map.options' zoom='vm.map.zoom'>
      <!--<ui-gmap-window templateurl="'/templates/misc/arena-map-window.html'" templateParameter="vm.arenaService.arenaSelecionada" show="vm.map.window.show" coords="vm.arenaService.arenaSelecionada" options="vm.map.window.options" closeclick="vm.map.window.closeClick()">
      </ui-gmap-window>-->
      <ui-gmap-markers events="vm.map.markersEvents" models="vm.jogosRegiao" icon="'icon'"  coords="'self'"'>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>