<ion-view id="jogos-detail" view-title="{{vm.jogo.nome}}">
  <ion-nav-buttons side="right">
    <button ng-if="vm.jogoEmAndamento();" ng-click="vm.finalizarPartida();" style="padding: 0px 10px;" class="button button-clear">FINALIZAR</button>
    <button ng-if="vm.minhaPresenca && vm.jogoAgendado();" ng-click="vm.openChat();" style="padding: 0px 10px;" class="button button-icon button-clear ion-chatbubbles"></button>
    <button ng-if="vm.checkOrganizador() && vm.jogoAgendado();" ng-click="vm.maisOpcoes();" style="padding: 0px 15px;" class="button button-icon button-clear ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="vm.jogoAgendado()">
      <div class="header">
        <div class="row">
          <div class="col-50">
            <span style="font-size:2.5em; font-weight: 200" class="positive">{{vm.jogo.inicio | date: 'dd/MM'}}</span>
          </div>
          <div class="col-50" style="text-align:right">
            <span style="font-size:2.5em;font-weight: 100">{{vm.jogo.inicio | date: 'HH:mm'}}</span>
          </div>
        </div>
        <hr/>
        <h4>{{vm.jogo.local.nome}}</h4>
        <h5 ng-click="vm.navigateTo();" style="font-weight: 300; margin-bottom:0px">
          <i class="icon ion-navigate" style="margin-right:5px"></i> {{vm.jogo.local.endereco}}
        </h5>
        <div ng-if="vm.jogo.jogadores[vm.meuId] && !vm.jogo.jogadores[vm.meuId].aguardandoConfirmacao">
          <div class="row" ng-if="vm.jogo.jogadores[vm.meuId].confirmado === undefined">
            <div class="col-50" style="padding: 0px 5px;">
              <button ng-click="vm.atualizaPresenca(true);" class="button button-small button-full button-positive">
                VOU
              </button>
            </div>
            <div class="col-50" style="padding: 0px 5px;">
              <button ng-click="vm.atualizaPresenca(false);" class="button button-small button-full button-assertive">
                NÃO VOU
              </button>
            </div>
          </div>
          <div class="row" ng-if="vm.jogo.jogadores[vm.meuId].confirmado">
            <div class="col-80" style="padding: 0px 5px;">
              <button class="button button-small button-full button-positive">
              PRESENÇA CONFIRMADA
            </button>
            </div>
            <div class="col-20" style="padding: 0px 5px;">
              <button ng-click="vm.atualizaPresenca(true);" class="button button-small button-full undo-button button-stable icon ion-ios-undo"></button>
            </div>
          </div>
          <div class="row" ng-if="vm.jogo.jogadores[vm.meuId].confirmado === false">
            <div class="col-80" style="padding: 0px 5px;">
              <button class="button button-small button-full button-assertive">
              VOCÊ NÃO VAI
            </button>
            </div>
            <div class="col-20" style="padding: 0px 5px;">
              <button ng-click="vm.atualizaPresenca(false);" class="button button-small button-full undo-button button-stable icon ion-ios-undo"></button>
            </div>
          </div>
        </div>
        <div ng-if="!vm.jogo.jogadores[vm.meuId]">
          <button ng-click="vm.atualizaPresenca(true);" class="button button-small button-full button-positive">
            JOGAR
          </button>
        </div>
        <div class="aguardando-confirmacao" ng-if="vm.jogo.jogadores[vm.meuId] && vm.jogo.jogadores[vm.meuId].aguardandoConfirmacao">
          Voce enviou uma solicitaçao para participar desta partida. Aguarde a aprovaçao do organizador.
        </div>
      </div>
      <div class="info" ng-if="vm.checkOrganizador();">
        <div class="row">
          <div ng-click="modal.show();" class="col text-center">
            <i class="icon ion-android-person-add"></i>
            <br/> Convidar Amigos
          </div>
          <div ng-click="vm.emitirChamado();" class="col text-center">
            <i class="icon ion-radio-waves"></i>
            <br/> Emitir Chamado
          </div>
          <div ng-click="vm.cancelarPartida();" class="col text-center">
            <i class="icon ion-ios-close-outline"></i>
            <br/> Cancelar Partida
          </div>
        </div>
      </div>
      <div class="list" style="padding-top: 20px;">
        <pre>{{vm.minhaPresenca | json}}</pre>
        <div class="item" ng-if="vm.getNumJogadores(true) > 0" style="border: none; padding: 5px 15px;">
          <span class="positive" style="font-weight:bold; padding-left: 7px;">Confirmados ({{vm.getNumJogadores(true)}})</span>
          <div class="row flex-cols">
            <div class="col col-20" ng-if="jogador.confirmado && !jogador.aguardandoConfirmacao" ng-repeat="jogador in vm.jogo.jogadores | toArray : false | orderBy: vm.orderByConfirmacao">
              <img ng-click="vm.openPerfilJogador(jogador.id);" style="width: 50px; height: 50px; border-radius: 50%; "
                  src="{{jogador.fotoPerfil | defaultImage}} ">
            </div>
          </div>
        </div>
        <div class="item" ng-if="vm.getNumJogadores() > 0" style="border: none; padding: 5px 15px;">
          <span style="font-weight:bold; padding-left: 7px;">Não responderam ({{vm.getNumJogadores()}})</span>
          <div class="row flex-cols">
            <div class="col col-20" ng-if="jogador.confirmado == undefined  && !jogador.aguardandoConfirmacao" ng-repeat="jogador in vm.jogo.jogadores | toArray : false | orderBy: vm.orderByConfirmacao">
              <img ng-click="vm.openPerfilJogador(jogador.id);" style="width: 50px; height: 50px; border-radius: 50%; "
                  src="{{jogador.fotoPerfil | defaultImage}} ">
            </div>
          </div>
        </div>
        <div class="item " ng-if="vm.getNumJogadores(false)> 0" style="border: none; padding: 5px 15px;">
          <span class="assertive" style="font-weight:bold; padding-left: 7px;">Não vão ({{vm.getNumJogadores(false)}})</span>
          <div class="row flex-cols">
            <div class="col col-20" ng-if="jogador.confirmado == false && !jogador.aguardandoConfirmacao" ng-repeat="jogador in vm.jogo.jogadores | toArray : false | orderBy: vm.orderByConfirmacao">
              <img ng-click="vm.openPerfilJogador(jogador.id);" style="width: 50px; height: 50px; border-radius: 50%; "
                  src="{{jogador.fotoPerfil | defaultImage}} ">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="vm.jogoEmAndamento()">

      <div class="row">

        <div ng-if="andamentoJogo.started && !andamentoJogo.done" class="col-20 text-center">
          <button ng-click='vm.pauseTimer()' class="button button-fab button-large icon ion-ios-pause" style="    margin-top: 85px;
            box-shadow: none;
            color: #AABDC2;
            background: #00303D;"></button>
        </div>

        <div ng-if="!andamentoJogo.started  && !andamentoJogo.done" class="col-20 text-center">
          <button ng-click='vm.startTimer()' class="button button-fab button-large icon ion-ios-play " style="    margin-top: 85px;
            box-shadow: none;
            color: #AABDC2;
            background: #00303D;"></button>
        </div>


        <div class="col-60">
          <div class="progress-wrapper">
            <div class="progress">
              {{vm.humanizeDurationTimer(timer,'s')}}
            </div>
            <div round-progress max="andamentoJogo.timeForTimer" current="timer" stroke="5" clockwise="false" color="#AAF502" bgcolor="#1A5463"
              rounded="true" class="text-center"></div>
          </div>
        </div>
        <div class="col-20 text-center">
          <button ng-click="vm.addTime();" class="button button-fab waves-effect waves-button waves-light" style="    margin-top: 85px;
            box-shadow: none;
            color: #AABDC2;
            background: #00303D;
            font-size: 1.4em;
            font-weight: bold;">+ 1</button>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <button class="button button-clear button-large button-assertive icon ion-refresh" ng-click='vm.stopTimer()'>
          </button>
        </div>
      </div>

      <div ng-if="andamentoJogo.done" class="text-center">
        <div class="row">
          <button class="button button-outline button-balanced button-rounded button-block" ng-click="vm.stopTimer(true);">
            Done
          </button>
        </div>
        <div class="text-center">
          <i class="ion-ribbon-b bigIcon" style="font-size: 40px;"></i>
          <br>
          <h2>Congratulations</h2>
        </div>
      </div>

      <ul>
        <li ng-repeat="tempo in andamentoJogo.tempos">
          {{tempo.inicio | date: 'HH:mm' }} - {{tempo.fim | date: 'HH:mm'}}
        </li>
      </ul>

    </div>
    <div ng-if="vm.jogoEncerrado();">
      <h1>FINALIZADO</h1>
    </div>
  </ion-content>
</ion-view>