<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-positive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button class="no-text"></ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <ion-header-bar class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="img/logo-menu.png" />
        <h3 class="name">Thronester</h3>
      </div>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="main.arenas">
          <i class="ion-ios-browsers"></i>
          <b class="padding"> ARENAS </b>
        </ion-item>
        <ion-item menu-close ui-sref="main.jogos">
          <i class="ion-ios-football"></i>
          <b class="padding"> JOGOS </b>
        </ion-item>
        <ion-item menu-close ui-sref="main.jogos">
          <i class="ion-person"></i>
          <b class="padding"> PERFIL </b>
        </ion-item>
        <ion-item menu-close ng-click="menu.logOut();">
          SAIR
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>