<ion-view view-title="MEUS TIMES">
  <ion-nav-buttons side="right">
    <button ui-sref="main.criarTime" class="button button-icon button-clear icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="vm.times.length == 0" class="lista-vazia text-center">
      <div>
        <img src="img/ilustracoes/escudo.png" alt="">
        <h4>Está na hora de arrumar um empresário!</h4>
        <p>Você ainda não tem um time. Crie um agora mesmo e desafie outros times da sua região.</p>
        <br/>
        <a ui-sref="main.criarTime" >CRIAR TIME</a>
      </div>
    </div>
    <div class="list">
      <a ng-click="vm.timesService.openPerfilTime(time);" class="item item-avatar item-button-right" ng-repeat="time in vm.times"
        href="#">
        <img style="margin-top:-7px;" encode-uri="false" cache-src="{{time.escudo | defaultImage}}">
        <h2>{{time.nome}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>