<ion-view view-title="MEUS TIMES">
  <ion-nav-buttons side="right">
    <button ui-sref="main.criarTime" class="button button-icon button-clear icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="vm.times.length == 0" class="lista-vazia text-center">
      <i class="icon ion-ios-football-outline"></i>
      <h5>Você ainda não esta em um time.</h5>
      <div style="padding:20px">
        <button ui-sref="main.criarTime" class="button button-full button-positive">Criar Time</button>
      </div>
    </div>
    <div class="list">
      <a ng-click="vm.timesService.openPerfilTime(time);" class="item item-avatar item-button-right" ng-repeat="time in vm.times"
        href="#">
        <img style="margin-top:-7px;" encode-uri="false" cache-src="{{time.escudo | defaultImage}}">
        <h2>{{time.nome}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>