<ion-view view-title="MINHAS PARTIDAS">
  <ion-nav-buttons side="right">
    <button ng-click="vm.jogosService.novaPartida = { data:{} };" ui-sref="main.criar-partida" class="button button-icon button-clear ion-android-add icon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="vm.minhasReservas.length == 0" class="lista-vazia text-center">
      <i class="icon ion-ios-calendar-outline"></i>
      <h5>Você ainda não tem reservas.</h5>
      <div style="padding:20px">
        <button ui-sref="main.home({'origem': 'reservas'})" class="button button-full button-positive">Reservas</button>
      </div>
    </div>
    <div ng-if="vm.minhasReservas.length > 0">
      <div ng-if="vm.jogos.length > 0" class="item item-divider">
        RESERVAS ATUAIS
      </div>
      <ion-list>
        <ion-item ng-click="vm.openReservamodal(reserva);" style="margin-bottom:1px" class="item-icon-right item-thumbnail-left"
          ng-repeat="reserva in vm.minhasReservas | filter: vm.filtroReservas()">
          <div style="position: absolute; top: 10px; left: 10px; max-width: 80px; max-height: 80px; width: 100%; height: 100%; text-align:center; padding-top:10px">
            <span style="font-size:2.5em">{{reserva.start | date :"dd"}}</span>
            <br/>
            <span>{{reserva.start | date :"MMM"}}</span>
            <br/>
            <span>{{reserva.start | date :"H:mm"}}</span>
          </div>
          <h2 style="margin-bottom: 10px">{{reserva.arenaNome}}</h2>
          <p>{{vm.getStatusReserva(reserva.status);}}</p>
          <i ng-if="reserva.status == 'agendado'" class="icon ion-ios-checkmark positive"></i>
          <i ng-if="reserva.status == 'aguardando-confirmacao'" class="icon ion-ios-circle-outline calm"></i>
          <i ng-if="reserva.status == 'cancelado'" class="icon ion-android-cancel assertive"></i>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>