<ion-view view-title="">
  <ion-nav-buttons side="right">
    <button ng-if="vm.meuPerfil" ng-click="vm.criarGrupo();" class="button button-clear button-positive">Editar</button>
    <button ng-if="!vm.meuPerfil && !vm.checkAmizade();" ng-click="vm.addAmigo();" class="button button-clear button-positive">Adicionar</button>
    <button ng-if="!vm.meuPerfil && vm.checkAmizade();" ng-click="vm.removerAmigo();" class="button button-clear button-positive">Remover</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="hero has-mask slide-up" ">
      <div class="content ">
        <div class="avatar " style="background-image: url( '{{vm.user.fotoPerfil}}'); "></div>
        <h4>{{vm.user.nome}}
          <br/>
          <small><i class="ion-ios-location-outline "></i> Belo Horizonte - MG</small>
        </h4>
      </div>
    </div>
    <div ng-if="vm.user.amigos.list.length >0" class="item item-divider">
        Amigos
    </div>
    <div class="item">
        <ul>
          <div class="row" ng-repeat="amigo in vm.user.amigos.list" ng-if="$index % 5 === 0">
              <div class="col col-20" ng-if="$index < vm.user.amigos.list.length">
                <img ui-sref="main.user({userId: vm.user.amigos.list[$index].id})" style="width: 60px; height: 60px; border-radius: 50%; " src="{{vm.user.amigos.list[$index].fotoPerfil | defaultImage}} ">
              </div>
              <div class="col col-20" ng-if="$index + 1 < vm.user.amigos.list.length">
                <img ui-sref="main.user({userId: vm.user.amigos.list[$index + 1].id})"  style="width: 60px; height: 60px; border-radius: 50%; " src="{{vm.user.amigos.list[$index + 1].fotoPerfil | defaultImage}} ">
              </div>
              <div class="col col-20" ng-if="$index + 2 < vm.user.amigos.list.length">
                <img ui-sref="main.user({userId: vm.user.amigos.list[$index + 2].id})"  style="width: 60px; height: 60px; border-radius: 50%; " src="{{vm.user.amigos.list[$index + 2].fotoPerfil | defaultImage}} ">
              </div>
              <div class="col col-20" ng-if="$index + 3 < vm.user.amigos.list.length">
                <img ui-sref="main.user({userId: vm.user.amigos.list[$index + 3].id})"  style="width: 60px; height: 60px; border-radius: 50%; " src="{{vm.user.amigos.list[$index + 3].fotoPerfil | defaultImage}} ">
              </div>
              <div class="col col-20" ng-if="$index + 4 < vm.user.amigos.list.length">
                <img ui-sref="main.user({userId: vm.user.amigos.list[$index + 4].id})"  style="width: 60px; height: 60px; border-radius: 50%; " src="{{vm.user.amigos.list[$index + 4].fotoPerfil | defaultImage}} ">
              </div>
            </div>
        </ul>
    </div>
    <!--<div class="list ">
      <a class="item item-icon-left " href="# ">
        <i class="icon ion-email "></i>
        Check mail
      </a>

      <a class="item item-icon-left item-icon-right " href="# ">
        <i class="icon ion-chatbubble-working "></i>
        Call Ma
        <i class="icon ion-ios-telephone-outline "></i>
      </a>

      <a class="item item-icon-left " href="# ">
        <i class="icon ion-mic-a "></i>
        Record album
        <span class="item-note ">
          Grammy
        </span>
      </a>

      <a class="item item-icon-left " href="# ">
        <i class="icon ion-person-stalker "></i>
        Friends
        <span class="badge badge-assertive ">0</span>
      </a>
      <div class="item item-toggle ">
        HTML5
        <label class="toggle toggle-positive ">
        <input type="checkbox ">
        <div class="track ">
          <div class="handle "></div>
          </div>
        </label>
       </div>
    </div>-->
    <button ng-if="vm.meuPerfil " class="button button-full button-clear button-positive " ng-click="vm.logOut(); ">
        <i class="icon ion-log-out "></i> Sair
      </button>
  </ion-content>
</ion-view>