<ion-view view-title="Minhas Reservas">
  <ion-content>
    <div ng-if="vm.minhasReservas.length == 0" class="lista-vazia text-center">
      <i class="icon ion-ios-calendar-outline"></i>
      <h5>Você ainda não tem reservas.</h5>
      <div style="padding:20px">
        <button ui-sref="main.home({'origem': 'reservas'})" class="button button-full button-positive">Reservas</button>
      </div>
    </div>
    <div ng-if="vm.minhasReservas.length > 0">
      <div class="padding">
        <div class="button-bar" style="margin: 10px 0;">
          <a class="small_button" style="border-radius: 5px 0px 0px 5px !important;" grouped-radio="false" ng-model="vm.mostrarHistorico">Atuais</a>
          <a class="small_button" style="border-radius: 0px 5px 5px 0px !important;" grouped-radio="true" ng-model="vm.mostrarHistorico">Passadas</a>
        </div>
      </div>
      <ion-list>
        <ion-item ng-click="vm.openReservamodal(reserva);" class="item-icon-right item-thumbnail-left" ng-repeat="reserva in vm.minhasReservas | filter: vm.filtroReservas()">
          <div style="position: absolute; top: 10px; left: 10px; max-width: 80px; max-height: 80px; width: 100%; height: 100%; text-align:center; padding-top:10px">
            <span style="font-size:2.5em">{{reserva.start | date :"dd"}}</span>
            <br/>
            <span >{{reserva.start | date :"MMM"}}</span>
            <br/>
            <span >{{reserva.start | date :"H:mm"}}</span>
          </div>
          <h2 style="margin-bottom: 10px">{{reserva.arenaNome}}</h2>
          <p>{{vm.getStatusReserva(reserva.status);}}</p>
          <i ng-if="reserva.status == 'agendado'" class="icon ion-ios-checkmark positive"></i>
          <i ng-if="reserva.status == 'aguardando-confirmacao'" class="icon ion-ios-circle-outline calm"></i>
          <i ng-if="reserva.status == 'cancelado'" class="icon ion-android-cancel assertive"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>