<ion-view view-title="">
    <ion-nav-buttons side="right">
        <button ng-click="vm.openListaJogadores( 'regiao') " class="button button-icon button-clear ion-android-person-add"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding" style="background-color: #00303D">
            <div class="button-bar">
                <a class="small_button" style="border-radius: 5px 0px 0px 5px !important;" grouped-radio="true" ng-model="vm.verSeguindo"> SEGUINDO</a>
                <a class="small_button" style="border-radius: 0px 5px 5px 0px !important;" grouped-radio="false" ng-model="vm.verSeguindo"> SEGUIDORES</a>
            </div>
        </div>
        <div ng-if="vm.verSeguindo">
            <div ng-if="vm.seguindo.length == 0" class="lista-vazia text-center">
                <div>
                    <img src="img/ilustracoes/jogador.png" alt="">
                    <h4>Cadê a galera?</h4>
                    <p>Você ainda não segue ninguém.<a style="font-size:1em;" ng-click="vm.openListaJogadores( 'regiao') "> Encontre</a> seus amigos que já estão por aqui e <a  style="font-size:1em;"> convide</a> os que ainda não estão.</p>
                    <br/>
                </div>
            </div>
            <div class="list ">
                <label class="item item-input" ng-if="vm.seguindo.length > 0">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="searchSeguindo" placeholder="Buscar">
                </label>
                <div ng-click="vm.openPerfilJogador(usuario);" class="item  item-avatar item-text-wrap item-button-right" ng-repeat="usuario in vm.seguindo | filter:searchSeguindo">
                    <img style="margin-top:-7px;" src="{{usuario.fotoPerfil | defaultImage}}">
                    <h2>{{usuario.nome}}</h2>
                    <button style="line-height: 30px !important; height: 30px;margin-top: 10px; padding: 0px 24px !important; font-size: 0.7em !important;"
                        ng-if="!vm.checkAmizade(usuario);" ng-click="vm.seguirJogador(usuario); $event.stopPropagation();" class="button button-light button-outline">
              SEGUIR
            </button>
                    <button style="line-height: 30px !important; height: 30px;margin-top: 10px; padding: 0px 20px !important; font-size: 0.7em !important;"
                        ng-if="vm.checkAmizade(usuario);" ng-click="vm.deixarDeSeguir(usuario); $event.stopPropagation();" class="button button-positive">
              SEGUINDO
            </button>
                </div>
            </div>
        </div>
        <div ng-if="!vm.verSeguindo">
            <div ng-if="vm.seguidores.length == 0" class="lista-vazia text-center">
                <div>
                    <img src="img/ilustracoes/jogador.png" alt="">
                    <h4>Cadê a galera?</h4>
                    <p>Você ainda não tem seguidores.<a style="font-size:1em;" ng-click="vm.openListaJogadores( 'regiao') "> Siga</a> seus amigos para eles te seguirem de volta.</p>
                    <br/>
                </div>
            </div>
            <div class="list ">
                <label class="item item-input" ng-if="vm.seguidores.length > 0" >
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchSeguidores" placeholder="Buscar">
            </label>
                <div ng-click="vm.openPerfilJogador(usuario);" class="item  item-avatar item-text-wrap item-button-right" ng-repeat="usuario in vm.seguidores | filter:searchSeguidores">
                    <img style="margin-top:-7px;" src="{{usuario.fotoPerfil | defaultImage}}">
                    <h2>{{usuario.nome}}</h2>
                    <button style="line-height: 30px !important; height: 30px;margin-top: 10px; padding: 0px 24px !important; font-size: 0.7em !important;"
                        ng-if="!vm.checkAmizade(usuario);" ng-click="vm.seguirJogador(usuario); $event.stopPropagation();" class="button button-light button-outline">
              SEGUIR
            </button>
                    <button style="line-height: 30px !important; height: 30px;margin-top: 10px; padding: 0px 20px !important; font-size: 0.7em !important;"
                        ng-if="vm.checkAmizade(usuario);" ng-click="vm.deixarDeSeguir(usuario); $event.stopPropagation();" class="button button-positive">
              SEGUINDO
            </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>