<ion-tabs class="tabs-icon tabs-background-positive tabs-color-dark" ng-class="{ 'tabs-item-hide': $root.hideTabs }">
  <ion-tab icon-off="ion-tshirt-outline" icon-on="ion-tshirt" ui-sref="main.meus-times">
    <ion-nav-view name="tab-meus-times"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-football-outline" icon-on="ion-ios-football" ui-sref="main.meus-jogos">
    <ion-nav-view name="tab-meus-jogos"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="main.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-android-notifications-none" badge="menu.notificacoes.length" badge-style="badge-assertive" icon-on="ion-android-notifications" ui-sref="main.notificacoes">
    <ion-nav-view name="tab-notificacoes"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-person-outline " icon-on="ion-person " ui-sref="main.perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view> 
  </ion-tab>
</ion-tabs>