<!--<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{ 'tabs-item-hide': $root.hideTabs }" >

  <ion-tab title="Arenas" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" href="#/tab/arenas">
    <ion-nav-view name="tab.arenas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Jogos" icon-off="ion-ios-football-outline" icon-on="ion-ios-football"" href="#/tab/jogos">
    <ion-nav-view name="tab-jogos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-person" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>


</ion-tabs>
 </div>-->

<div class="tabs-striped tabs-background-positive tabs-color-light">
  <ion-tabs class="tabs-icon-only tabs-color-active-positive" ng-class="{ 'tabs-item-hide': $root.hideTabs }">

    <ion-tab title="Arenas" icon-off="ion-ios-browsers-outline" icon-on="ion-ios-browsers" href="#/tab/arenas">
      <ion-nav-view name="tab.arenas"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Jogos" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" " href="#/tab/jogos ">
    <ion-nav-view name="tab-jogos "></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil " icon-off="ion-ios-person-outline " icon-on="ion-person " href="#/tab/perfil ">
    <ion-nav-view name="tab-perfil "></ion-nav-view>
  </ion-tab>


  </ion-tabs>
</div>