<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-dark" ng-class="{ 'tabs-item-hide': $root.hideTabs }">
  <ion-tab title="Início" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="main.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Reservas" icon-off="ion-android-calendar" icon-on="ion-android-calendar" ui-sref="main.reservas">
    <ion-nav-view name="tab-jogos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Amigos" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="main.amigos">
    <ion-nav-view name="tab-amigos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil" icon-off="ion-ios-person-outline " icon-on="ion-person " ui-sref="main.perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view> 
  </ion-tab>
</ion-tabs>