.profile-view{


  .tabs-profile {
    position:relative  ;   
    background-color: #fff !important; 
    border:none; 
    background-image: none;
    .tab-item{
      border-top:0px!important;
      .icon{
        font-size: 22px; 
        padding-top: 10px; 
        opacity: 0.7;
      }
    }
  }

  .card-title{
      padding-left: 15px; padding-top: 5px;
  }

  .estrutura{
      padding-left: 15px; 
      margin-top: -5px; 
      margin-bottom:10px;
      display: inline-flex;

      .item-estrutura{
          width: 70px; 
          height: 55px;

          .quantidade{
              width:35px; 
              text-align:center; 
              line-height: 28px; 
              font-size:x-large;
          }

          .imagem{
              display: block; 
              margin: 0 auto;
              img{
                  margin-top: -5px; 
                  box-shadow:none; 
                  display: block; 
                  margin: 0 auto;
              }
          }

          .desc{
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
          }
      }

  }

  .horarios{
    .row{
      padding:0px;
    }

    .col{
        padding: 5px 5px 5px 0px; margin-right: 3px;
        button{
            height:40px; 
            line-height: 15px ; 
            border: solid 1px #777;
            box-shadow:none; 
            padding:0px; 
            span{
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }
  }
}

.confirmacao-reserva{
      background-color: rgba(40,40,40, 0.9);

      h1,h2,h3,h4,h5,h6{
          color:#efefef;
          margin:0px 5px;
      }

      .header{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        height: 165px;
        position: relative;
        background: $positive;
        color: white;
        button{
            color: white;
            float: right;
            font-size: 1.5em;
        }

        .content{
            padding: 60px 30px 20px 30px;

            i{
                font-size: 1.6em; margin-right: 10px;
            }
        }
      }
      .button-bar{
          margin-top:10px;
          box-shadow:none;
            .button{
                margin: 0px 5px;
                border-radius: 4px !important;
            }
            .button:not(.button-positive) {
                background-color: #555;
                color: #fff;
            }
            .button:last-child{
                border-radius: 4px !important;
            }
            .button:first-child{
                border-radius: 4px !important;
            }
      }
  }