.platform-ios {
    #arenas-view{
        .angular-google-map-container { height: calc(100vh - 63px); }
    }
}

.platform-android{
    #arenas-view{
        .angular-google-map-container { height: calc(100vh - 43px); }
    }
}

.map-container {
    .card-2 {
        .card {
            margin: 0px !important;
        }
    }
    
    .card{
        margin: 0px !important;   
    }

    .item-animate {
    position: fixed; width:100%; bottom: 0px;
     }

    .item-animate.ng-hide-add,
    .item-animate.ng-hide-remove {
      display: block !important;
      bottom: 0;
    }

    .item-animate.ng-hide-add {
      -webkit-animation:1s hide;
      animation:1s hide;
    }

    @keyframes hide {
      from { bottom: 0; }
      to { bottom: -100%; }
    }

    @-webkit-keyframes hide {
      from { bottom: 0; }
      to { bottom: -100%; }
    }

    .item-animate.ng-hide-remove {
      -webkit-animation:.5s show;
      animation:.5s show;
    }

    @keyframes show {
      from { bottom: -100%; }
      to { bottom: 0; }
    }

    @-webkit-keyframes show {
      from { bottom: -100%; }
      to { bottom: 0; }
    }
}

.profile-view{

    .hero{
        box-shadow: none;
    }

  .tabs-profile {
    position:relative  ;   
    background-color: #fff !important; 
    border:none; 
    background-image: none;
    .tab-item{
      border-top:0px!important;
      .icon{
        font-size: 22px; 
        padding-top: 10px; 
        opacity: 0.7;
      }
    }
  }

  .card-title{
      padding-left: 15px; padding-top: 5px;
  }

  .info{
      background-color: $dark;
      .row{
          border-bottom: 1px solid $stable;
          .col{
              i{
                  font-size: 24px;
              }
          }
      }
  }

  .horarios{
    .row{
      padding:0px;
    }

    .col{
        padding: 5px 5px 5px 0px; margin-right: 3px;
        button{
            height:40px; 
            line-height: 15px ; 
            border: solid 1px $button-positive-text;
            box-shadow:none; 
            padding:0px; 
            span{
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }

    .empty{
        width: 200px;
        display: block;
        margin: 0 auto;
        text-align:center;
        i{
            font-size:70px;
        }
    }
  }
}

.platform-ios.platform-cordova:not(.fullscreen){
    .modal-arena{
        .header{
             margin-top: 20px;
        }
    }
}

.platform-ios{
    .modal-arena{
        .header{
            margin-top:20px;
            background: $base-background-color;
            color:$base-color;
            button{
                float: left;
                color:$base-color;
                padding-left: 20px;
            }
            h1,h2,h3,h4,h5,h6{
                color: $base-color;
                margin:0px 5px;
            }
        }

      ion-content{
          top : 205px;
      }
    }
}

.modal-arena{
        background-color: $base-background-color;

      h1,h2,h3,h4,h5,h6{
          color:#efefef;
          margin:0px 5px;
      }

      ion-content{
          background-color: $dark;
          top : 185px;
      }

      .header{
        //box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        height: 185px;
        position: relative;
        background: $positive;
        color: $button-positive-text;
        button{
            color: $button-positive-text;
            float: right;
            font-size: 1.5em;
        }

        h1,h2,h3,h4,h5,h6{
          color:$button-positive-text;
          margin:0px 5px;
        }

        .title{
            padding: 90px 30px 20px 10px;
        }

        .content{
            padding: 60px 30px 20px 30px;

            i{
                font-size: 1.6em; margin-right: 10px;
            }
        }
      }
      .button-bar{
          margin-top:10px;
          box-shadow:none;
            .button{
                margin: 0px 5px;
                border-radius: 4px !important;
            }
            .button:not(.button-positive) {
                background-color: $stable;
                color: #fff;
            }
            .button:last-child{
                border-radius: 4px !important;
            }
            .button:first-child{
                border-radius: 4px !important;
            }
      }

      .estrutura-item{
          border: solid 1px $stable; padding: 10px;
          img{
                  box-shadow:none; 
                  display: block; 
                  margin: 0 auto;
                  height:90px;
                  width:90px
              }
      }
  }
