.platform-ios {
    #arenas-view{
        .angular-google-map-container { height: 50vh; }
    }
}

.platform-android{
    #arenas-view{
        .angular-google-map-container { height: 50vh; }
    }
}

.map-container {
    .card-2 {
        .card {
            margin: 0px !important;
        }
    }
    
    .card{
        margin: 0px !important;   
    }

    .item-animate {
    position: fixed; width:100%; bottom: 0px;
     }

    .item-animate.ng-hide-add,
    .item-animate.ng-hide-remove {
      display: block !important;
      bottom: 0;
    }

    .item-animate.ng-hide-add {
      -webkit-animation:1s hide;
      animation:1s hide;
    }

    @keyframes hide {
      from { bottom: 0; }
      to { bottom: -100%; }
    }

    @-webkit-keyframes hide {
      from { bottom: 0; }
      to { bottom: -100%; }
    }

    .item-animate.ng-hide-remove {
      -webkit-animation:.5s show;
      animation:.5s show;
    }

    @keyframes show {
      from { bottom: -100%; }
      to { bottom: 0; }
    }

    @-webkit-keyframes show {
      from { bottom: -100%; }
      to { bottom: 0; }
    }
}

.profile-view{

    .hero{
        box-shadow: none;
    }

  .tabs-profile {
    position:relative  ;   
    background-color: #fff !important; 
    border:none; 
    background-image: none;
    .tab-item{
      border-top:0px!important;
      .icon{
        font-size: 22px; 
        padding-top: 10px; 
        opacity: 0.7;
      }
    }
  }

  .card-title{
      padding-left: 15px; padding-top: 5px;
  }

  .info{
      background-color: $light;
      .row{
          border-bottom: 1px solid $stable;
          .col{
              i{
                  font-size: 24px;
              }
          }
      }
  }

  .horarios{
    .row{
      padding:0px;
    }

    .col{
        padding: 5px 5px 5px 0px; margin-right: 3px;
        button{
            height:40px; 
            line-height: 15px ; 
            border: solid 1px $button-positive-text;
            box-shadow:none; 
            padding:0px; 
            span{
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }

    .empty{
        width: 200px;
        display: block;
        margin: 0 auto;
        text-align:center;
        i{
            font-size:70px;
        }
    }
  }
}

.platform-ios.platform-cordova:not(.fullscreen){
    .modal-arena{
        .header{
             margin-top: 20px;
        }
    }
}


.platform-ios {
    .modal-arena{
        .bar.bar-header{
            border-bottom: 0px !important;

            button{
                color:$base-color !important;
            }
        }

        .subheader{
            background-color: $dark;

            h1,h2,h3,h4,h5,h6{
                color:$base-color;
            }
        }
    }
} 

.gallery-view .image-container{
    border: 5px solid rgba($base-background-color, .9) !important;
}

.modal-arena{
        background-color: rgba($base-background-color, .9) !important;

        .subheader{
            background-color: $positive;
            padding: 20px 30px 10px 20px;
            i{
                font-size: 1.6em; margin-right: 10px;
            }

            h1,h2,h3,h4,h5,h6{
                color:$dark;
                margin:0px 5px;
            }
        }

      .button-bar{
          margin-top:10px;
          box-shadow:none;
            .button{
                margin: 0px 5px;
                border-radius: 4px !important;
            }
            .button:not(.button-positive) {
                background-color: $stable;
                color: #fff;
            }
            .button:last-child{
                border-radius: 4px !important;
            }
            .button:first-child{
                border-radius: 4px !important;
            }
      }

      .estrutura-item{
          border: solid 1px $stable; padding: 10px;
          img{
                  box-shadow:none; 
                  display: block; 
                  margin: 0 auto;
                  height:90px;
                  width:90px
              }
      }

      .popup-body{
            input[type="text"], input[type="number"]{
                color: $dark !important;
                font-size: 1.4em;
                text-align: center;
                font-weight: bold;
            }
        }
  }

  .modal-reserva{
      .angular-google-map-container { height: 150px; }
      ion-content{
          background-color: $dark;
      }
  }




#pin-view {

    .button-stretch {
        width: 100%;

    }
    .col-offset-15 {
        margin-left: 15%;
    }

    .center-vertical {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .center-vertical > * {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}


.platform-ios {
    .profile-modal{
        .bar.bar-header{
            border-bottom: 0px!important;
        }
    }  
}

.profile-modal{

    .bar-header{
        background:transparent; border: 0px !important;
        button{
            color:$light
        }
    }

    .hero{
        background-color:$positive;     
        box-shadow: none;
        color: $light;

        h1,h2,h3,h4,h5,h6{
            color: $light
        }
    }

  .card-title{
      padding-left: 15px; padding-top: 5px;
  }

  .info{
      border-top: 1px solid lighten($positive, 10%);
      background-color:$positive; color: $light;
      .row{
          border-bottom: 1px solid $stable;
          .col{
              span{
                  font-size: 1.3em;
              }
          }
      }
  }

  .horarios{
    .row{
      padding:0px;
    }

    .col{
        padding: 5px 5px 5px 0px; margin-right: 3px;
        button{
            height:40px; 
            line-height: 15px ; 
            border: solid 1px $button-positive-text;
            box-shadow:none; 
            padding:0px; 
            span{
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }

    .empty{
        width: 200px;
        display: block;
        margin: 0 auto;
        text-align:center;
        i{
            font-size:70px;
        }
    }
  }
}