#jogos-view{
    .angular-google-map-container { height: 100vh; }
}

.platform-ios {
    #jogos-detail{
        .header{
            margin-top:63px;
        }

        .tab-nav{
            margin-top: 220px;
        }

        ion-content{
            margin-top: 220px;
        }
    }
}

.jogo-card{
    a{
        text-decoration: none; color: #efefef;

        .col-nome{
            font-weight: bold; font-size: 1.4em;
        }

        .col-data{
            font-weight: 300; font-size: 1.5em; text-align: right
        }
        
        .row-end{
            border-top: solid 1px #0C2633; font-size: 0.9em;
        }

        .jogadores{
            padding-top:15px;
            .jogador{
                position:relative; display:inline-block; padding:5px;
                img{
                    width: 30px; height: 30px; border-radius: 50%;
                }

                .confirmado{
                     border: 2px solid $positive;
                }
            }

            .plus{
                top:-15px; position:relative; display:inline-block; padding:5px;
                .value{
                    font-weight: bold; line-height: 35px; text-align:center; width: 35px; height: 35px; border-radius: 50%; background: #0C2633
                }
            }
        }
        .resumo{
            font-size:1.5em; font-weight: 300; text-align: right; padding-top: 25px
        }
    }
}

.platform-ios {
    .map-container {
        .card{
            top: -60px;
        }
    }
}

#jogos-detail{

    .header{
        background:$base-background-color; 
        width:100%; 
        height:200px; 
        position:absolute; 
        margin-top:43px;
        padding: 20px;

        .confirmacao{
            padding:10px 0px;
            text-align: center;

            .col-50{
                padding: 5px;
                font-weight: 600;
                background-color: transparent;
                border: solid 1px $stable;
            }

            .vou{
                border-radius: 5px 0px 0px 5px;
                margin-right: 1px;
            }

            .vou-checked{
                background-color: $positive;
                color: $dark;
                border: none !important;
            }

            .nao-vou{
                border-radius: 0px 5px 5px 0px;
                margin-left: 1px;
            }

            .nao-vou-checked{
                background-color: $assertive;
                border: none !important;
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: $base-background-color;
        box-shadow: 0 2px 20px rgba(0,0,0, 0.6);
    }

    .tab-nav{
        font-weight: bold;
        margin-top:200px;
        background: $base-background-color !important;
        border-top: none !important;
    }

    .tab-title{
        font-weight: bold;
        font-size: 0.9em;
    }

    .tab-item{
        color: rgba(255, 255, 255, 0.4);
    }

    .tab-item-active{
        color: $positive;;
        border-color: $positive;
    }

    ion-content{
        margin-top: 200px;
        background-color: $light;
    }

    .item h2{
        padding-top: 5px;
    }
}

.platform-android{
     #jogos-detail{
        .tab-nav{
            border: none !important;
        }
     }
}

.platform-ios {
    .modal-convidar-amigos{
        background: $base-background-color;
        .header{
            margin-top:20px;
            height: 150px;
            background: $base-background-color;
            color:$base-color;
            button{
                float: left;
                color:$base-color;
                padding-left: 20px;
            }
        }
        ion-content{
            top:220px;
        }

        .item{
            background-color: $dark;
        }
    }
}

.modal-convidar-amigos{

      background-color: $light;

      ion-content{
        top:190px;
        background: $dark;
      }

      .header{
        height: 150px;
        top:43px;
        position: relative;
        background: $positive;
        color:$button-positive-text;
        button{
            color:$button-positive-text;
            float: right;
            font-size: 1.5em;
        }

        h1,h2,h3,h4,h5,h6{
          color:$button-positive-text;
        }
      }
      .button-bar{
          margin-top:10px;
          box-shadow:none;
            .button{
                margin: 0px 5px;
                border-radius: 4px !important;
            }
            .button:not(.button-positive) {
                background-color: #555;
                color: #fff;
            }
            .button:last-child{
                border-radius: 4px !important;
            }
            .button:first-child{
                border-radius: 4px !important;
            }
      }

      .bar-footer{
          p{
              text-align: center; width: 100%; font-size: 14px;margin-top: -5px;
          }
      }
  }


