<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">ADICIONAR AMIGOS</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-close" ng-click="vm.modalAddAmigos.hide()">
        </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input" style="border: solid 1px #46687E">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar">
            </label>
            <a class="item item-avatar item-button-right" ng-repeat="usuario in vm.usuarios" href="#">
                <img style="margin-top:-7px;" src="{{usuario.fotoPerfil | defaultImage}}">
                <h2>{{usuario.nome}}</h2>
                <button ng-click="vm.addAmigo(usuario);" class="button button-small button-positive">
                    <i class="icon ion-checkmark"></i> Add
                </button>
            </a>
        </div>
    </ion-content>
</ion-modal-view>