<ion-modal-view class="modal-arena">
  <ion-content>
    <div class="header">
      <button class="button button-clear button-primary ion-close-round" ng-click="modalAlbum.hide()"></button>
      <div class="title">
        <h1>Imagens</h1>
      </div>
    </div>
    <div class="row" ng-repeat="item in albumArena | orderBy: 'ordem'" ng-if="$index % 2 === 0">
      <div ng-if="$index < albumArena.length" class="col-50">
        <div class="row">
          <img style="box-shadow:none; 
                  display: block; 
                  margin: 0 auto;
                  height:90px;
                  width:90px" src="{{albumArena[$index].img}}" alt="">
        </div>
      </div>
      <div ng-if="$index + 1 < albumArena.length" class="col-50">
        <div class="row" ">
          <img style="box-shadow:none; display: block; margin: 0 auto; height:90px; width:90px " src="{{albumArena[$index
          + 1].img}} " alt=" ">
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>