<ion-modal-view class="modal-convidar-amigos">
    <ion-header-bar class="bar-positive">
        <h1 class="title">CONVIDAR AMIGOS</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-close" ng-click="modal.hide()">
        </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="header">
        <div class="row">
            <div class="col text-center" ng-click="vm.compartilharFacebook();" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-social-facebook"  style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Convide seus amigos do facebook.
                </p>
            </div>
            <div class="col text-center" ng-click="vm.compartilharWhatsapp();" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-social-whatsapp" style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Chame o seu grupo de pelada para esta partida.
                </p>
            </div>
            <div class="col text-center" ng-click="vm.compartilharEmail();" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-email" style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Quer convidar a galera do trabalho? Envie um email.
                </p>
            </div>
        </div>
    </div>
        <div class="list">
            <label class="item item-input" style="border: solid 1px #46687E">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchText"  placeholder="Buscar">
            </label>
            <a class="item item-avatar item-button-right" ng-repeat="amigo in vm.amigos | filter:searchText" href="#">
                <img style="margin-top:-7px;" src="{{amigo.fotoPerfil | defaultImage}}">
                <h2>{{amigo.nome}}</h2>
                <button ng-if="!vm.jogo.jogadores[amigo.$id]" ng-click="vm.convidarAmigo(amigo);" class="button button-small button-stable"
                    style="line-height: 30px !important; height: 30px;margin-top: 10px; font-size: 0.7em !important;">
                    Convidar
                </button>
                <button ng-if="vm.jogo.jogadores[amigo.$id]" ng-click="vm.desconvidarAmigo(amigo);" class="button button-small button-positive"
                    style="line-height: 30px !important; height: 30px;margin-top: 10px; font-size: 0.7em !important;">
                    Convidado
                </button>
            </a>
        </div>
    </ion-content>
    <div ng-if="vm.jogo.novoJogo" class="bar bar-footer bar-assertive">
        <p>
            Sua partida foi criada com sucesso!
            <br/> Convide seus amigos para jogar com você.
        </p>
    </div>
</ion-modal-view>