<ion-modal-view class="modal-convidar-amigos">
    <div class="header">
        <button class="button button-clear button-primary ion-close-round" ng-click="modal.hide()"></button>

        <div class="row">
            <div class="col text-center" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-social-facebook" style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Convide seus amigos do facebook.
                </p>
            </div>
            <div class="col text-center" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-social-whatsapp" style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Chame o seu grupo de pelada para esta partida.
                </p>
            </div>
            <div class="col text-center" style="border: solid 1px;
    border-radius: 10px;
    margin: 5px;">
                <i class="icon ion-email" style="font-size:40px; margin-right:5px"></i>
                <br/>
                <p style="font-size:0.8em">
                    Quer convidar a galera do trabalho? Envie um email.
                </p>
            </div>
        </div>
    </div>
    <ion-content style="top:200px">
        <div class="list">
            <label class="item item-input" style="border: solid 1px #46687E">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar">
            </label>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://ionicframework.com/img/docs/spengler.jpg">
                <h2>Venkman</h2>
            </a>


        </div>
    </ion-content>
</ion-modal-view>