<ion-modal-view class="modal-jogo">
    <div class="header">
        <button class="button button-clear button-primary ion-close-round" ng-click="hideModal()"></button>
        <div class="title">
            <h2>Novo Jogo</h2>
        </div>
    </div>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">None da partida</span>
                <input ng-model="novoJogo.nome" type="text" placeholder="Nome da partida">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Local da partida</span>
                <input location-suggestion location="location" ng-readonly="true" ng-model="location.formatted_address" type="text" placeholder="Local da partida">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Dia</span>
                <input ng-model="novoJogo.dia" ng-focus="vm.openDatePicker();" ng-readonly="true" type="text" placeholder="Dia">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Horário de início</span>
                <input ng-model="novoJogo.inicio" ng-focus="vm.openTimePicker();" ng-readonly="true" type="text" placeholder="Horário de início">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Mínimo de jogadores</span>
                <input ng-model="novoJogo.minJogadores" ionic-numberpicker ng-readonly="true" input-obj="vm.numberPickerMin" type="text" placeholder="Mínimo de jogadores">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Máximo de jogadores</span>
                <input ng-model="novoJogo.maxJogadores" ionic-numberpicker ng-readonly="true" input-obj="vm.numberPickerMax"  type="text" placeholder="Máximo de jogadores">
            </label>
            <!--<label class="item item-input item-floating-label">
                <span class="input-label">Quem pode ver?</span>
                <input  type="text" placeholder="Quem pode ver">
            </label>-->
        </div>
        <div class="padding">
            <button ng-click="salvarJogo(location);" class="button button-block button-positive">
                Criar Partida
            </button>
        </div>
    </ion-content>
</ion-modal-view>