<ion-modal-view class="modal-arena">
  <div class="bar bar-header" style="background:transparent; border: 0px !important">
    <button style="color:white" class="button button-icon button-clear ion-android-close" ng-click="modalEstrutura.hide()"></button>
    <div style="font-weight:bold" class="title">Estrutura</div>
  </div>
  <ion-content class="has-header">
    <div class="row" ng-repeat="item in estrutura | orderBy: 'ordem'" ng-if="$index % 2 === 0">
      <div style="padding: 5px;" ng-if="$index < estrutura.length" class="col-50">
        <div class="estrutura-item">
          <div class="row">
            <img src="img/estrutura/{{estrutura[$index].img}}" alt="">
          </div>
          <h5 class="text-center">{{estrutura[$index].quantidade}} {{estrutura[$index].desc}}</h5>
        </div>
      </div>
      <div style="padding: 5px;" ng-if="$index + 1 < estrutura.length" class="col-50">
        <div class="estrutura-item">
          <div class="row">
            <img src="img/estrutura/{{estrutura[$index + 1].img}} " alt=" ">
          </div>
          <h5 class="text-center ">{{estrutura[$index + 1].desc}}</h5>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>