<ion-modal-view class="modal-arena">
  <ion-content>
    <div class="header">
      <button class="button button-clear button-primary ion-close-round" ng-click="modalEstrutura.hide()"></button>
      <div class="title">
        <h1>Estrutura</h1>
      </div>
    </div>
    <div class="row" ng-repeat="item in estrutura | orderBy: 'ordem'" ng-if="$index % 2 === 0">
      <div style="padding: 5px;" ng-if="$index < estrutura.length" class="col-50">
        <div style="border: solid 1px #444; padding: 10px;">
          <div class="row">
            <img style="box-shadow:none; 
                  display: block; 
                  margin: 0 auto;
                  height:90px;
                  width:90px" src="/img/estrutura/{{estrutura[$index].img}}" alt="">
          </div>
          <h5 class="text-center">{{estrutura[$index].quantidade}} {{estrutura[$index].desc}}</h5>
        </div>
      </div>
      <div style="padding: 5px;" ng-if="$index + 1 < estrutura.length" class="col-50">
        <div style="border: solid 1px #444; padding: 10px;">
          <div class="row" ">
          <img style="box-shadow:none; display: block; margin: 0 auto; height:90px; width:90px " src="/img/estrutura/{{estrutura[$index
            + 1].img}} " alt=" ">
        </div>
        <h5 class="text-center ">{{estrutura[$index + 1].desc}}</h5>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>