<ion-modal-view hide-nav-bar="true" class="criar-partida" style=" background:rgba(255,255,255,0.7)">
  <div class="bar bar-header" style="background:transparent; border: 0px !important">
    <button style="color:white" class="button button-icon button-clear ion-android-close" ng-click="vm.filtroModal.hide()"></button>
    <div style="font-weight:bold" class="title"></div>
  </div>
  <ion-content class="has-header">
    <ion-list>
      <ion-checkbox ng-model="vm.filtro.arenas">Arenas</ion-checkbox>
      <ion-checkbox ng-model="vm.filtro.jogos">Jogos</ion-checkbox>
    </ion-list>
    <button ng-click="vm.applyFilter();" class="button button-stable">
      Filtrar
    </button>
  </ion-content>
</ion-modal-view>