<!--<ion-view view-title="">
  <ion-nav-buttons side="right">
    <button ng-if="vm.meuPerfil" ng-click="vm.criarGrupo();" class="button button-clear button-positive">Editar</button>
    <button ng-if="!vm.meuPerfil && !vm.checkAmizade();" ng-click="vm.addAmigo();" class="button button-clear button-positive">Adicionar</button>
    <button ng-if="!vm.meuPerfil && vm.checkAmizade();" ng-click="vm.removerAmigo();" class="button button-clear button-positive">Remover</button>
  </ion-nav-buttons>
</ion-view>-->

<ion-modal-view ng-controller="PerfilJogadorCtrl as vm">
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{vm.jogador.nome}}</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="vm.closeModal()">
            </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="hero has-mask slide-up" ">
      <div class="content ">
        <div class="avatar " style="background-image: url( '{{vm.jogador.fotoPerfil}}'); "></div>
        <h4>{{vm.jogador.nome}}
          <br/>
          <small><i class="ion-ios-location-outline "></i> Belo Horizonte - MG</small>
        </h4>
      </div>
    </div>
    <div ng-if="vm.jogador.amigos.list.length>0" class="item item-divider"> Amigos
    </div>
    <div class="item">
      <ul>
        <div class="row" ng-repeat="amigo in vm.jogador.amigos.list" ng-if="$index % 5 === 0">
          <div class="col col-20" ng-if="$index < vm.jogador.amigos.list.length">
            <img ui-sref="main.user({userId: vm.jogador.amigos.list[$index].id})" style="width: 60px; height: 60px; border-radius: 50%; "
              src="{{vm.jogador.amigos.list[$index].fotoPerfil | defaultImage}} ">
          </div>
          <div class="col col-20" ng-if="$index + 1 < vm.jogador.amigos.list.length">
            <img ui-sref="main.user({userId: vm.jogador.amigos.list[$index + 1].id})" style="width: 60px; height: 60px; border-radius: 50%; "
              src="{{vm.jogador.amigos.list[$index + 1].fotoPerfil | defaultImage}} ">
          </div>
          <div class="col col-20" ng-if="$index + 2 < vm.jogador.amigos.list.length">
            <img ui-sref="main.user({userId: vm.jogador.amigos.list[$index + 2].id})" style="width: 60px; height: 60px; border-radius: 50%; "
              src="{{vm.jogador.amigos.list[$index + 2].fotoPerfil | defaultImage}} ">
          </div>
          <div class="col col-20" ng-if="$index + 3 < vm.jogador.amigos.list.length">
            <img ui-sref="main.user({userId: vm.jogador.amigos.list[$index + 3].id})" style="width: 60px; height: 60px; border-radius: 50%; "
              src="{{vm.jogador.amigos.list[$index + 3].fotoPerfil | defaultImage}} ">
          </div>
          <div class="col col-20" ng-if="$index + 4 < vm.jogador.amigos.list.length">
            <img ui-sref="main.user({userId: vm.jogador.amigos.list[$index + 4].id})" style="width: 60px; height: 60px; border-radius: 50%; "
              src="{{vm.jogador.amigos.list[$index + 4].fotoPerfil | defaultImage}} ">
          </div>
        </div>
      </ul>
    </div>
    <button ng-if="vm.meuPerfil " class="button button-full button-clear button-positive " ng-click="vm.logOut(); ">
        <i class="icon ion-log-out "></i> Sair
      </button>
  </ion-content>
</ion-modal-view>