<ion-modal-view class="modal-arena">
  <div class="bar bar-header" style="background:transparent; border: 0px !important">
    <button style="color:white" class="button button-icon button-clear ion-android-close" ng-click="modalQuadras.hide()"></button>
    <div style="font-weight:bold" class="title">Quadras</div>
  </div>
  <ion-content class="has-header">
    <div>
      <br/>
      <div ng-repeat="quadra in quadras">
        <h4 class="padding-horizontal">{{quadra.nome}} - {{quadra.tipo}} <span ng-if="quadra.coberta"> coberta</span> ({{quadra.capacidade}} vs {{quadra.capacidade}})</h4>
        <hr/>
      </div>
    </div>
  </ion-content>
</ion-modal-view>