<ion-view view-title="{{vm.arena.nome}}" class="profile-view">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero has-mask slide-up" style="min-height:200px; background-image: url('{{vm.album[0].thumb}}');">
      <div class="content">
        <img class="avatar" cache-src="{{vm.arena.fotoPerfil}}">
        <h4>{{vm.arena.nome}}
          <br/>
          <small><i class="icon ion-navigate"></i> {{vm.arena.distance | number : 2}} km</small>
        </h4>
      </div>
    </div>
    <div class="info">
      <div class="row">
        <div ng-click="vm.openQuadrasModal();" class="col text-center">
          <i class="icon ion-ios-browsers-outline"></i>
          <br/> Quadras
        </div>
        <div ng-click="vm.openEstruturaModal();" class="col text-center">
          <i class="icon ion-grid"></i>
          <br/> Estrutura
        </div>
        <div ng-click="vm.openAlbumModal();" class="col text-center">
          <i class="icon ion-images"></i>
          <br/> Imagens
        </div>
      </div>
      <div class="padding" ng-click="vm.navigateTo();">
        <i style="margin-right: 10px" class="icon ion-navigate"></i> {{vm.arena.endereco}}
      </div>
    </div>
    <br/>
    <h5 class="text-center">HORÁRIOS DISPONÍVEIS</h5>
    <div class="padding double-padding-x">
      <a-carousel carousel-options="::vm.carouselOptions1" array-provider="::vm.carouselData1" on-select="vm.onSelectCarousel(item)">
      </a-carousel>
      <br/>
      <ion-list class="horarios">
        <ul>
          <li ng-repeat="horario in vm.horariosPorQuadra" ng-if="horario.horarios.length >0">
            <p class="text-center">{{horario.quadra.nome}} ({{horario.quadra.tipo}})</p>
            <div class="row" ng-repeat="hr in horario.horarios | orderBy:'start'" ng-if="$index % 3 === 0">
              <div class="col col-33" ng-if="$index < horario.horarios.length">

                <button ng-click="vm.openConfirmacaoModal(horario , $index);" class="button button-block button-small button-stable">
                {{horario.horarios[$index].start | date :'HH:mm'}} <br/>  <span class="positive" >{{horario.horarios[$index].preco | currency : "R$"}}</span>
              </button>
              </div>
              <div class="col col-33" ng-if="$index + 1 < horario.horarios.length">
                <button ng-click="vm.openConfirmacaoModal(horario, $index + 1);" class="button button-block button-small button-stable">
               {{horario.horarios[$index + 1].start| date :'HH:mm'}} <br/>  <span class="positive" >{{horario.horarios[$index + 1].preco | currency : "R$"}}</span>
              </button>
              </div>
              <div class="col col-33" ng-if="$index + 2 < horario.horarios.length">
                <button ng-click="vm.openConfirmacaoModal(horario , $index + 2);" class="button button-block button-small button-stable">
                {{horario.horarios[$index + 2].start| date :'HH:mm'}} <br/>  <span class="positive" >{{horario.horarios[$index + 2].preco | currency : "R$"}}</span>
              </button>
              </div>
            </div>
          </li>
        </ul>
        <div ng-if="vm.nenhumHorario">
          <h4 class="empty">
            <i class="icon ion-ios-close-outline"></i> <br/> Nenhum horário disponível para este dia
          </h4>
        </div>
      </ion-list>
    </div>
    <br/>

  </ion-content>
</ion-view>