<ion-view view-title="ARENAS" id="arenas-view" class="cards-view">
  <ion-nav-buttons side="right">
    <button ng-click="actrl.mapView = !actrl.mapView" ng-class="actrl.mapView ? 'ion-ios-list-outline' : 'ion-map'" class="button button-icon button-clear icon"></button>
  </ion-nav-buttons>
  <!--<button id="fab" class="button button-assertive button-fab button-fab-bottom-right">
    <i class="icon ion-android-funnel"></i>
  </button>-->
  <ion-content>
    <div ng-if="!actrl.mapView">
      <div ng-if="actrl.arenas.length == 0" style="margin-top:30px;" class="lista-vazia text-center">
        <div>
          <img src="img/ilustracoes/campo.png" alt="">
          <h4>Nenhuma arena na sua região =/</h4>
          <p>Em breve chegaremos na sua cidade e você poderá reservar horários nas melhores quadras. Enquanto isso você pode organizar partidas, convidar seus amigos, desafiar outros times e muito mais.</p>
          <br/>
        </div>
      </div>
      <div class="card-2" ng-repeat="arena in actrl.arenas | orderBy:'distance'">
        <a ng-click="actrl.arenaService.arenaSelecionada = arena;" href="#/main/arenas/{{arena.$id}}">
          <div class="list card">
            <div class="row card-outer">
              <div class="col col-50 card-image">
                <img cache-src="{{arena.fotoPerfil}}">
              </div>
              <div class="col card-content">
                <h2 class="card-title">{{arena.nome}}</h2>
                <div class="card-description-outer">
                  <p class="card-description">{{arena.endereco}}</p>
                  <p class="card-description">{{arena.distance | number : 2}} km</p>
                  <!--<p class="card-description">Teste</p>-->
                </div>
              </div>

            </div>
          </div>
        </a>
      </div>
      <br/><br/>
    </div>
    <div ng-if="actrl.mapView" class="map-container" data-tap-disabled="true">
      <ui-gmap-google-map center='actrl.map.center' pan="true" events="actrl.map.mapEvents" options='actrl.map.options' zoom='actrl.map.zoom'>
        <ui-gmap-markers events="actrl.map.markersEvents" models="actrl.arenas" idkey="'$id'" icon="'icon'" coords="'self'" '>
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <div class="item-animate" ng-show="actrl.showDetails">
        <div class="card-2" style="width:100%">
          <a  href="#/main/arenas/{{actrl.arenaService.arenaSelecionada.$id}}">
            <div class="list card">
              <div class="row card-outer">
                <div class="col col-50 card-image">
                  <img cache-src="{{actrl.arenaService.arenaSelecionada.fotoPerfil}}" >
                </div>
                <div class="col card-content">
                  <h2 class="card-title">{{actrl.arenaService.arenaSelecionada.nome}}</h2>
                  <div class="card-description-outer">
                    <p class="card-description"><b>Teste</b> Reviews</p>
                    <p class="card-description">{{actrl.arenaService.arenaSelecionada.distance | number : 2}} km</p>
                    <p class="card-description">Teste</p>
                  </div>
                </div>
              
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>